section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.search-button{
    font-size: 18px;
    height: 48px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    width: 20%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}
.search-button:hover{
    opacity: 90%;
}